.hide {
  display: none;
}

/* Base Style */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* Reset */
a {
  text-decoration: none;
}
button {
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Common Styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  /* Mobile */
  padding-top: 92px;
  padding-bottom: 92px;
}
@media only screen and (min-width: 768px) {
  section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* @media only screen and (min-width: 1158px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
} */

.container {
  /* Mobile device */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

@media screen and (min-width: 768px) {
  /* Tablet device */
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  /* Desctop */
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.portfolio-title,
.team-title {
  min-width: 162px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-accent-up {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  /* margin-right: auto; */
}

.logo {
  display: inline-flex;
  align-items: center;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
@media only screen and (min-width: 767.98px) {
  .logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.header-list {
  display: flex;
}
@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  position: relative;
  display: block;
  padding: 24px 0;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .header-link:hover,
.header-list .header-link:focus {
  color: #404bbf;
}
.header-link.active {
  color: #404bbf;
}
.header-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.adress {
  font-style: normal;
}

.adress-list {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767.98px) {
  .adress-list {
    display: none;
  }
}
@media only screen and (max-width: 1157.98px) {
  .adress-list {
    flex-direction: column;
    gap: 12px;
  }
}
.adress-item {
  margin-right: 40px;
}
@media only screen and (max-width: 1157.98px) {
  .adress-item {
    margin-right: 0;
  }
}
.adress-item:last-child {
  margin-right: 0;
}

.adress-info {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 1157.98px) {
  .adress-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

.adress .adress-info:hover,
.adress .adress-info:focus {
  color: #404bbf;
}

/* Hero */

.hero {
  padding: 72px 16px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero/hero_mob@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/hero_mob@2x.jpg);
  }
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/hero_tab@1x.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/hero_tab@2x.jpg);
  }
}
/* Desc */

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/hero_desc@1x.jpg);
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/hero_desc@2x.jpg);
  }
}
.hero .container {
  margin-top: 0;
  padding: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.btn {
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: var(--IRIS, #4d5ae5);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .btn {
    margin-top: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .btn {
    margin-top: 48px;
  }
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: #404bbf;
}

/* section 2 advantages */

.advantages {
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .advantages-list {
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.advantages-item {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .advantages-item {
    /* max-width: 356px; */
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .advantages-item {
    width: 264px;
  }
}
.advantages-wrapper {
}

@media only screen and (min-width: 1158px) {
  .advantages-wrapper {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background-color: var(--CLOUD, #f4f4fd);
  }
}
.advantages-icon {
}
@media only screen and (max-width: 1157.98px) {
  .advantages-icon {
    display: none;
  }
}
.advantages-sutitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .advantages-sutitle {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .advantages-sutitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.advantages-p {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 Our Team */
.team {
  background-color: var(--CLOUD, #f4f4fd);
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* padding: 0 12px; */
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

.team-wrapper {
  padding: 32px 0;
}

.team-item {
  /* width: 100%; */
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .team-item {
    /* width: calc((100% - 24px * 2) / 2); */
  }
}
@media only screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

.team-img {
}

.team-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-p {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
/* team-socials-icon */

.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}
.socials-icon {
  fill: currentColor;
}
/* Section 4 Portfolio */
.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
  }
}

.portfolio-item:hover,
.portfolio-item:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item {
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 24px * 2) / 3);
  }
}

.portfolio-item:nth-child(1n + 4) {
  margin-bottom: 0;
}

.portfolio-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-img {
}
.portfolio-wrapper-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: flex;
  padding: 40px 32px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: var(--IRIS, #4d5ae5);

  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-subtitle {
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
}

.portfolio-p {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}

/* Footer */
@media only screen and (max-width: 767.98px) {
  .footer .container {
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer .container {
    display: flex;
    padding: 0 108px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}
.footer {
  background: #2e2f42;
  padding: 97px 0;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-left {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-left {
    margin-right: 120px;
  }
}

.footer-p {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}
@media only screen and (max-width: 767.98px) {
  .footer-p {
    text-align: left;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  display: inline-flex;
  align-items: center;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .logo-footer {
    margin-bottom: 17px;
  }
}
.logo-accent-down {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-right {
  display: block;
}
@media only screen and (max-width: 767.98px) {
  .footer-right {
    margin-bottom: 72px;
  }
}
.footer-social-p {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer .team-socials-link:hover,
.footer .team-socials-link:focus {
  background-color: #31d0aa;
}

.footer .team-socials {
  gap: 16px;
}

/* footer form */
@media only screen and (min-width: 1158px) {
  .footer-wrapper-modal {
    margin-left: auto;
  }
}

.footer-modal-p {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px 24px;
}

.footer-label {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .footer-label {
    max-width: 264px;
  }
}
.footer-input {
  color: var(--WHITE, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;

  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
  color: currentColor;
}
.footer-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;

  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
  border: none;
}
.footer-modal-icon {
  fill: currentColor;
  margin-left: 16px;
}

/* main window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
.modal-p {
  width: 100%;
  max-width: 360px;

  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  border-color: transparent;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #fff;
  color: #fff;
  background-color: #404bbf;
  border: none;
}
.modal-btn-icon {
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}
.field {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .modal-input {
    padding-left: 34px;
  }
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .form-icon {
  fill: #4d5ae5;
}
.modal-wrapper-texteria {
  margin-bottom: 16px;
}
.form-texteria {
  resize: none;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}
.form-texteria:focus {
  border-color: #4d5ae5;
}
.form-texteria::placeholder {
  color: currentColor;
}
/* Checkbox */
.agreement-wrapper {
  margin-bottom: 24px;
}
.form-agreement {
  display: block;
  margin-bottom: 24px;

  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
}
.checkbox {
}
.form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
}
.checkbox:checked + .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox:checked + .form-agreement > .form-agreement-icon {
  opacity: 0;
}
.form-agreement-icon {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}
.form-agreement-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.modal-btn-send {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}
/* Mobile Menu */
.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  padding: 72px 14px 40px;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu.modal-close-btn {
  visibility: visible;
  position: absolute;
}
.modal-btn-icon.mobile-menu {
}
.menu-list {
  margin-right: auto;
  margin-bottom: auto;
}
.menu-item {
  margin-bottom: 40px;
}
.menu-item:last-child {
  margin-bottom: 0px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-link.current {
  color: #404bbf;
}
.menu-adress {
  margin-bottom: 48px;
}
.menu-adres-item {
  margin-bottom: 24px;
}

.menu-adres-link {
  color: var(--SLATE, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.menu-adres-link.accent {
  color: var(--IRIS, #4d5ae5);
}

.menu-socials.team-socials {
  /* display: flex;
  min-width: 280px; */
  gap: 40px;
  justify-content: flex-start;
}
